{% extends "modules/default" %}

{% block blockClasses %}
{% if not block.darkMode %}bg-asmc-tan{% endif %}
{% endblock %}

{% block blockContent %}
<div class="max-w-7xl mx-auto px-4 py-8 lg:px-8 lg:py-16 {% if not block.topSpacing %}!pt-1{% endif %} {% if not block.bottomSpacing %}!pb-1{% endif %}">
	<article class="flex flex-col {% if block.title and block.text|striptags|length < 400 %}md:flex-row md:gap-16{% endif %} items-start justify-center p-6 md:p-8 lg:p-12 xl:p-16 bg-white text-asmc-black rounded-sm {% if block.imagePosition == 'left' %}order-2{% endif %}">
		{% if block.eyebrow or block.title %}
		<div class="{% if block.title and block.text|striptags|length < 400 %}md:w-1/2{% endif %}">
		{% if block.eyebrow %}
		<p class="font-mono text-xs md:text-sm">{{ block.eyebrow }}</p>
		{% endif %}
		{% if block.title %}
		<h2 class="{% if block.title and block.text|striptags|length < 400 %}{% else %}my-6{% endif %} xl:my-8 font-bold text-2xl xs:text-4xl xl:text-5xl leading-[1.1] {% if block.darkMode %}text-asmc-blue{% else %}text-asmc-gold{% endif %}">{{ block.title }}</h2>
		{% endif %}
		</div>
		{% endif %}
		{% if block.text or block.button %}
		<div class="font-mono longform {% if block.text|striptags|length >= 400 %}md:columns-2 md:gap-16{% elseif block.title and block.text|striptags|length < 400 %}md:w-1/2{% endif %}">
			{% if block.text %}
				{{ block.text }}
			{% endif %}
			{% if block.button %}
				<a href="{{ block.button }}" class="inline-block mt-2 px-4 py-3 border-2 border-asmc-blue font-semibold no-underline text-asmc-blue hover:text-white hover:bg-asmc-blue">{{ block.button.label }} &rarr;</a>
			{% endif %}
		</div>
		{% endif %}
	</article>
</div>
{% endblock %}